@model WMIP.Web.Models.Albums.DatedAlbumViewModel

<div class="col-md-12">
    <a class="float-left cut-title" href="/Albums/Details/@Model.Id">@Model.Name</a>
    <p class="float-right mbottom0">@(Model.ReleaseDate.HasValue ? Model.ReleaseDate.Value.ToShortDateString() : "Not specified.")</p>
    <h6 class="font-italic signature">by: @Model.ArtistName</h6>
</div>