@using Microsoft.AspNetCore.Authentication
@model WMIP.Web.Models.Users.LoginViewModel
@inject IAuthenticationSchemeProvider SchemeProvider
@{
    ViewData["Title"] = "Login";
}
<h1 class="text-center">Login</h1>
<hr class="hr-1 bg-info w50" />

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="mx-auto w50" method="post" asp-action="Login">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" class="form-control" placeholder="Username..." />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" placeholder="Password..." />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="checkbox text-center">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <hr class="hr-1 bg-info" />
                <div class="button-holder text-center">
                    <button type="submit" class="btn bg-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br />
<div class="text-center">
    <a asp-controller="Users" asp-action="Register" class="text-info">Register as a new user</a>
</div>