@model WMIP.Web.Models.Reviews.ReviewViewModel

@{
    ViewData["Title"] = $"{Model.AlbumName} - new review";
}

<h1 class="text-center">Write a review for @Model.AlbumName</h1>
<hr class="hr-1 bg-info w50" />

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="mx-auto w50" method="post" asp-action="Create">
                @Html.EditorForModel()
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src='~/lib/tinymce/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#bodyEditor'
        });
    </script>
}
