@model WMIP.Web.Models.Reviews.ReviewDetailsViewModel

@{
    ViewData["Title"] = $"{Model.AlbumName} - Review Details";
}
<script src="~/js/comment-template-helper.js"></script>
<script src='~/lib/tinymce/tinymce.min.js'></script>

@Html.DisplayForModel()

<div class="row">
    @Html.Partial("NewCommentPartial", new NewCommentViewModel { PostId = Model.Id, Type = "comment" })
</div>

@if (Model.Comments != null && Model.Comments.Count() > 0)
{
    foreach (var comment in Model.Comments)
    {
        <div class="commentBox">
            @Html.Partial("CommentDisplayPartial", comment)
        </div>
    }
}