@model WMIP.Web.Areas.Artist.Models.Approval.MyApprovalRequestViewModel[]

<link rel="stylesheet" href="~/css/mvc-grid.css" asp-append-version="true" />

@{
    ViewData["Title"] = "My Approval Requests";
}

<h1 class="text-center">My Approval Requests</h1>
<hr class="hr-1 bg-info w50" />

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(item => item.Name).Titled("Item Name");
        columns.Add(item => item.ItemType).Titled("Item Type");
        columns.Add(item => item.ReleaseDate).Titled("Replease Date");
        columns.Add(item => item.ReleaseStage).Titled("Release Stage");
        columns.Add(item => item.ApprovalStatus).Titled("Approval Status");
    })
    .Empty("Nothing requested")
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.RowsPerPage = 10;
    })
)

@section Scripts {
    <script src="~/js/mvc-grid.js"></script>
    <script src="~/js/initialize-mvc-grid.js"></script>
}