<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admininstration
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Management">User Management</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Approval" asp-action="All">Approval Management</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Articles" asp-action="Management">Articles Management</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Articles" asp-action="Create">New Article</a>
    </div>
</li>