<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" asp-controller="Reviews" asp-action="My">My Reviews</a>
        <a class="dropdown-item" asp-controller="Comments" asp-action="My">My Comments</a>
    </div>
</li>