<div class="row">
    <div class="col-md-4">
        <input id="searchBar" type="search" class="form-control searchbar" placeholder="Search..." />

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 searchResults" id="resultsBox">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/get-search-results.js"></script>