@model WMIP.Web.Areas.Artist.Models.Albums.AlbumViewModel

@{
    ViewData["Title"] = "Create an album";
}

<h1 class="text-center">Create an album</h1>


<form class="mx-auto w50" method="post" asp-action="Create">
    @Html.EditorForModel()
</form>

