@model IEnumerable<WMIP.Web.Areas.Artist.Models.Albums.MyAlbumViewModel>

<link rel="stylesheet" href="~/css/mvc-grid.css" asp-append-version="true" />

@{
    ViewData["Title"] = "My Albums";
}

<h1 class="text-center">My Albums</h1>
<hr class="hr-1 bg-info w50" />

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(album => album.Name).Titled("Name");
        columns.Add(album => album.Genre).Titled("Genre");
        columns.Add(album => album.ReleaseStage).Titled("Replease Stage");
        columns.Add(album => album.ReleaseDate.HasValue ? album.ReleaseDate.Value.ToShortDateString() : "Not specified.").Titled("Release Date");
        columns.Add(album => album.ApprovalStatus).Titled("Approval Status");
        columns.Add(album => album.UserScore).Titled("User Score");
        columns.Add(album => $"<a class='btn {album.CriticClass}' href='/Reviews/All/{album.Id}?reviewType=Critic'>{album.CriticScore.ToString("f2")}</a>").Encoded(false).Titled("Critic Score");
        columns.Add(album => $"<a class='btn {album.UserClass}' href='/Reviews/All/{album.Id}?reviewType=User'>{album.UserScore.ToString("f2")}</a>").Encoded(false).Titled("User Score");
        columns.Add(album => $"<div class='buttonContainer text-center'>" +
            $"<a href='/Artist/Albums/Edit/{album.Id}' class='btn btn-primary actionButton'>Edit</a>" +
            $"<a href='/Artist/Albums/Delete/{album.Id}' class='btn btn-danger actionButton'>Delete</a>" +
            $"<a href='/Albums/Details/{album.Id}' class='btn btn-warning actionButton'>Details</a>" +
            $"</div>").Encoded(false).AppendCss("buttonContainer").Titled("Actions");
    })
    .Empty("No albums")
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.RowsPerPage = 10;
    })
)

@section Scripts {
    <script src="~/js/mvc-grid.js"></script>
    <script src="~/js/initialize-mvc-grid.js"></script>
}