/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.roleSelect {
    width: 50%;
    max-width: 150px;
    display: inline;
    vertical-align: middle;
}

.changeRoleCell {
    width: 272px;
}

.changeRoleButton {
    width: 50%;
    max-width: 100px;
}

.userManagementGridCell {
    text-align: center;
    display: table-cell;
}

input[type=date] {
    line-height: 1 !important;
}

.buttonContainer {
    width: 180px;
}

.actionButton {
    margin: 5px;
    min-width: 77px;
    width: fit-content;
}

.Rejected {
    background-color: #c9302c;
}

.Approved {
    background-color: #28a745;
}

.font-italic {
    font-style: italic;
}

.font-weight-bold {
    font-weight: bold;
}

.text-dark {
    color: black;
}

.top10 {
    margin-top: 10px;
}

.bottom10 {
    margin-bottom: 10px;
}

.mbottom0 {
    margin-bottom: 0px;
}

.numberLabel {
    display: block;
}

.smallNumberInput {
    width: 70px;
}

.mtop0 {
    margin-top: 0px;
}

.card {
    border: 1px solid #808080;
    border-radius: 15px;
    background-color: #eff0f2;
    overflow: hidden;
    margin-top: 10px;
}

    .card p {
        word-wrap: break-word;
    }

.card-header {
    background-color: #e0e2e5;
    border-bottom: 1px solid black;
    padding: 10px;
    padding-bottom: 0px;
}

.card-body {
    padding: 10px;
}

.reviewBody p {
    word-wrap: break-word;
}

.formPopup {
    display: none;
    position: absolute;
    z-index: 9;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.newCommentsContainer {
    margin-left: 0px;
}

.commentReply, .newCommentsContainer {
    margin-left: 10px !important;
    border: 1px solid black;
    padding: 3px;
    border-radius: 2px;
}

.commentParent, .newCommentsContainer {
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 2px;
}

    .commentParent .commentParent, .newCommentsContainer {
        border-right: none;
        padding-right: 0px;
        border-top-right-radius: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
    }

    .commentParent .commentReply, .newCommentsContainer {
        border-right: none;
        padding-right: 0px;
        border-bottom: none;
        padding-bottom: 0px;
        border-top-right-radius: 0px;
        border: none;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

        .commentParent .commentReply p {
            margin-bottom: 0px;
        }

.commentHeader {
    background-color: #e0e2e5;
    border-bottom: 1px solid black;
    padding: 3px;
}

    .commentHeader h6, .newCommentsContainer p {
        display: inline;
        word-wrap: break-word;
    }

.hideComment {
    float: right;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
}

.replyButton {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.newCommentButton {
    width: 100px;
    height: 10px;
    text-align: center;
    vertical-align: top;
    font-size: 10px !important;
    padding: 0px;
    padding-bottom: 12px;
}

.commentBody {
    padding-left: 3px;
}

.commentBox {
    margin-top: 10px;
}

.card-title {
    word-wrap: break-word;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.size-1em {
    font-size: 1em;
}

.white-on-black {
    color: white !important;
    background-color: #333 !important;
}

.signature {
    clear: both;
    font-size: 10px;
}

.dropdown-item {
    background-color: #333;
    margin: 5px;
    display: block;
    color: #9d9d9d;
    text-decoration: none;
}

    .dropdown-item:hover {
        color: white;
        text-decoration: none;
    }

.dropdown-menu {
    background-color: #333;
}

.score-signature {
    position: relative;
    top: -14px;
    margin: 0px;
}

.greeting {
    cursor: default;
}

.searchbar {
    margin-top: 3%;
    margin-left: 15px;
    width:87%;
}

.searchResults {
    display: none;
    position: absolute;
    z-index: 99;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    width: 80%;
    margin-left: 15px;
}

.fixed-size-link {
    width: 70%;
    overflow: hidden;
    text-decoration: none;
}

.link-container {
    height: 20px;
    border-bottom: 1px solid #333;
    padding: 3px;
    border-radius: 3px;
}

    .link-container:hover {
        background-color: #eff0f2;
    }

.collapse-icon {
    cursor: pointer;
    display: block;
}

.abolute-important {
    position: initial !important;  
    margin-bottom: 0px;
}

.diplay-inline {
    display: inline !important;
}

.min-100 {
    min-width: 100px;
}

.mouse-pointer {
    cursor: pointer;
}

.upvote-color {
    color: #FF8b60;
}

.downvote-color {
    color: #9494FF;
}

.cut-title {
    width: 75%;
    overflow:hidden;
    word-wrap: normal;
}