@model WMIP.Web.Areas.Artist.Models.Songs.SongViewModel

@{
    ViewData["Title"] = "Delete a song";
}

<h1 class="text-center">Delete a song</h1>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="mx-auto w50" method="post" asp-action="Delete">
                @Html.DisplayForModel()
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src='~/lib/tinymce/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#lyricsEditor',
            readonly: 1
        });
    </script>
}
