@model IEnumerable<MyCommentViewModel>

<link rel="stylesheet" href="~/css/mvc-grid.css" asp-append-version="true" />

@{
    ViewData["Title"] = "My Comments";
}

<h1 class="text-center">My Comments</h1>
<hr class="hr-1 bg-info w50" />

@(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(comment => comment.Title).Titled("Title");
            columns.Add(comment => comment.Score).Titled("Score");
            columns.Add(comment => comment.PostTitle ?? "[deleted]").Titled("Post Title");
            columns.Add(comment => comment.PostType).Titled("Post Type");
            columns.Add(comment => $"{comment.CreatedOn.ToShortDateString()} {comment.CreatedOn.ToShortTimeString()}").Titled("Created On");
        })
        .Empty("No comments")
        .Filterable()
        .Sortable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 10;
        })
)

@section Scripts {
    <script src="~/js/mvc-grid.js"></script>
    <script src="~/js/initialize-mvc-grid.js"></script>
}