@model WMIP.Web.Areas.Admin.Models.Approval.ApprovalItemViewModel[]

<link rel="stylesheet" href="~/css/mvc-grid.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Approval Management";
}

<h1 class="text-center">Approval Management</h1>

@(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(item => item.Name).Titled("Item Name");
            columns.Add(item => item.ItemType).Titled("Item Type");
            columns.Add(item => item.Requester).Titled("Requester");
            columns.Add(item => item.ReleaseDate).Titled("Replease Date");
            columns.Add(item => item.ReleaseStage).Titled("Release Stage");
            columns.Add(item => $"<div class='buttonContainer'>" +
            $"<a data-type='{item.ItemType}' data-action='Approved' data-id='{item.Id}' class='btn btn-primary actionButton'>Approve</a>" +
            $"<a data-type='{item.ItemType}' data-action='Rejected' data-id='{item.Id}' class='btn btn-danger actionButton'>Reject</a>" +
            $"</div>").Encoded(false).AppendCss("buttonContainer").Titled("Action");
        })
        .Empty("Nothing to approve")
        .Filterable()
        .Sortable()
        .Pageable()
)

@section Scripts {
    <script src="~/js/mvc-grid.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
        $(document).ready(() => { 
            $("a.actionButton").on("click", (event) => {
                const currentButton = $(event.currentTarget);
                const itemId = currentButton.attr("data-id");
                if (itemId) {
                    const newStatus = currentButton.attr("data-action");
                    if (newStatus) {
                        const itemType = currentButton.attr("data-type");
                        if (itemType) {
                            var data = { ItemId: itemId, ItemType: itemType, NewApprovalStatus: newStatus };
                            makeRequest(data, itemId, itemType);
                        } else {
                            toastr.error("Couldn'get information about the item type.");
                        }
                    } else {
                        toastr.error("Couldn'get information about the new status.");
                    }
                } else {
                    toastr.error("Couldn'get information about the item.");
                }
            })
        });     

        function makeRequest(data, itemId, itemType) {
            var requestData = JSON.stringify(data);
            $.ajax({
                url: "/Admin/Approval/ChangeApprovalStatus",
                type: "POST",
                data: requestData,
                dataType: "json",
                contentType: "application/json",
                complete: (data) => actionCompleteCallback(data, itemId, itemType),
            });
        }

        function actionCompleteCallback(data, itemId, itemType) {
            if (data && data.responseJSON && data.responseJSON.ok) {
                toastr.success("Status updated successfully.");
                $(`a[data-id=${itemId}][data-type=${itemType}]`).closest("tr").fadeOut();
                $(`a[data-id=${itemId}][data-type=${itemType}]`).closest("tr").remove();
            } else {
                if (data.responseJSON) {
                    toastr.error(data.responseJSON.reason || "Something went wrong :/");
                } else {
                    toastr.error( "Something went wrong :/");
                }                
            }
        }
    </script>
}