@using WMIP.Web.Areas.Admin.Models.Users
@model UserManagementViewModel

<link rel="stylesheet" href="~/css/mvc-grid.css" asp-append-version="true" />

@{
    ViewData["Title"] = "User Management";
}
<h1>Is in admin: @User.IsInRole("Admin")</h1>
<h1 class="text-center">User Management</h1>

@(Html
    .Grid(Model.Users)
    .Build(columns =>
    {
        columns.Add(user => user.UserName).Titled("Username");
        columns.Add(user => user.FirstName).Titled("First name");
        columns.Add(user => user.LastName).Titled("Last name");
        columns.Add(user => user.Email).Titled("Email");
        columns.Add(user => $"<p class='userManagementGridCell' data-id='{user.Id}'>{string.Join(", ", user.Roles)}</p>").Encoded(false).Titled("Role");
        columns.Add(user => Html.Partial("_RoleSelectPartial",
            new RoleSelectionViewModel
            {
                Roles = Model.AllRoles,
                UserId = user.Id,
                SelectedRole = user.Roles.Count() > 1 ? "" : user.Roles.First()
            })).Encoded(false).AppendCss("changeRoleCell").Titled("Change user's role");
    })
    .Empty("No users found")
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.RowsPerPage = 10;
    })
)

@section Scripts {
    <script src="~/js/mvc-grid.js"></script>
    <script src="~/js/initialize-mvc-grid.js"></script>
    <script src="~/js/role-management.js"></script>
}