@model WMIP.Web.Areas.Artist.Models.Albums.CreateAlbumViewModel

<h1 class="text-center">Create an album</h1>
<hr class="hr-1 bg-info w50" />
<form class="mx-auto w50" method="post" asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Name..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Genre"></label>
                <input asp-for="Genre" class="form-control" placeholder="Genre..." />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ReleaseStage"></label>
                @Html.DropDownListFor(m => m.ReleaseStage, Html.GetEnumSelectList<WMIP.Data.Models.Enums.ReleaseStage>(), new { @class = "form-control", id = "ReleaseStage" })
                <span asp-validation-for="ReleaseStage" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ReleaseDate"></label>
                <input asp-for="ReleaseDate" type="date" class="form-control" placeholder="Release Date..." />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="SpotifyLink"></label>
                <input asp-for="SpotifyLink" class="form-control" placeholder="Spotify Link..." />
                <span asp-validation-for="SpotifyLink" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="AlbumCoverLink"></label>
                <input asp-for="AlbumCoverLink" class="form-control" placeholder="Album Cover Link.." />
                <span asp-validation-for="AlbumCoverLink" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label asp-for="SelectedSongIds"></label>
            <select class="form-control" asp-for="SelectedSongIds">
                @for (var i = 0; i < Model.AvailableSongs.Count(); i++)
                {
                    @Html.EditorFor(c => Model.AvailableSongs[i])
                }
            </select>
            <span asp-validation-for="SelectedSongIds" class="text-danger"></span>
        </div>
    </div>
    <hr class="hr-1 bg-info" />
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn bg-info">Submit for approval</button>
    </div>
</form>

