@model WMIP.Web.Areas.Artist.Models.Songs.CreateSongViewModel

<h1 class="text-center">Create a song</h1>
<hr class="hr-1 bg-info w50" />
<form class="mx-auto w50" method="post" asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Name..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Genre"></label>
                <input asp-for="Genre" class="form-control" placeholder="Genre..." />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ReleaseStage"></label>
                @Html.DropDownListFor(m => m.ReleaseStage, Html.GetEnumSelectList<WMIP.Data.Models.Enums.ReleaseStage>(), new { @class = "form-control", id = "ReleaseStage" })
                <span asp-validation-for="ReleaseStage" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ReleaseDate"></label>
                <input asp-for="ReleaseDate" type="date" class="form-control" placeholder="Release Date..." />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="TrackNumber"></label>
                <input asp-for="TrackNumber" class="form-control" placeholder="Track Number..." />
                <span asp-validation-for="TrackNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="MusicVideoLink"></label>
                <input asp-for="MusicVideoLink" class="form-control" placeholder="Music Video Link.." />
                <span asp-validation-for="MusicVideoLink" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Lyrics"></label>
                <textarea id="lyricsEditor" asp-for="Lyrics" class="form-control" placeholder="Lyrics..."></textarea>
                <span asp-validation-for="Lyrics" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr class="hr-1 bg-info" />
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn bg-info">Submit for approval</button>
    </div>
</form>

